[submodule "Cloud-Computing"]
	path = Cloud-Computing
	url = https://github.com/Afiffarhanni/Cloud-Computing-
[submodule "Machine-Learning"]
	path = Machine-Learning
	url = https://github.com/bayupradika/Machine-Learning
[submodule "Mobile-Development"]
	path = Mobile-Development
	url = https://github.com/zatryandyakbar/fruits-guard
