[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
flask = "*"
tensorflow = "*"
google-cloud-firestore = "*"  # Menambahkan Firestore
requests = "*"               # Menambahkan requests

[dev-packages]

[requires]
python_version = "3.11"